*{
	position: relative;
	font-family: monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #130f40;
}

.colorplate {
    position: absolute;
    background: #292463;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 15px 15px;
}
.colorplate span {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
span{
	background: #9b59b6;
}
span#POMEGRANATE{
	background: #c0392b;
}
a {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    overflow: hidden;
    color: #0ab0ff;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
a:hover{
	background: #0ab0ff;
	cursor: pointer;
	color: #443bab;
	box-shadow: 0 0 5px #0ab0ff,
				0 0 25px #0ab0ff,
				0 0 50px #0ab0ff,
				0 0 200px #0ab0ff;
}
a span{
	position: absolute;
	display: block;
}
/**/
a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent,#0ab0ff);
	animation: animate1 1s linear infinite;
}
@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;	
	}
}
/**/
a span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent,#0ab0ff);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s
}
@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}
/**/
a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent,#0ab0ff);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;	
	}
}
/**/
a span:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent,#0ab0ff);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;	
	}
}


/**/
a {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    overflow: hidden;
    color: #0ab0ff;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
a:hover{
	background: #0ab0ff;
	cursor: pointer;
	color: #443bab;
	box-shadow: 0 0 5px #0ab0ff,
				0 0 25px #0ab0ff,
				0 0 50px #0ab0ff,
				0 0 200px #0ab0ff;
}
a span{
	position: absolute;
	display: block;
}
/**/
a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent,#0ab0ff);
	animation: animate1 1s linear infinite;
}
@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;	
	}
}
/**/
a span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent,#0ab0ff);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s
}
@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}
/**/
a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent,#0ab0ff);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;	
	}
}
/**/
a span:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent,#0ab0ff);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;	
	}
}
#rcorners2 {
	border-radius: 25px;
	border: 2px solid rgb(55, 0, 255);
	padding: 20px; 
	width: 200px;
	height: 150px;  

}
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}




*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
}
.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 5px;
}
nav {
    float: right;
    line-height: 100px;
}
nav a {
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: #fff;
}
.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ebebeb;
    height: 1500px;
}
.content-area h2 {
    font-family: bignoodletitling;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    padding: 2% 0px;
    font-family: merienda;
    line-height: 30px;
}